<div class="nav-container">
    <nav class="navbar">
        <h1 id="navbar-logo">WINE</h1>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="nav-menu">
            <li><a href="#" class="nav-links">Page</a></li>
            <li><a href="#" class="nav-links">Menu</a></li>
            <li><a href="#" class="nav-links">Services</a></li>
            <li><a href="#" class="nav-links">Contact Us</a></li>
            <li><a href="#" class="nav-links nav-links-btn">Sign Up</a></li>
        </ul>
    </nav>